.App {
  text-align: center;
}

.sidebar {
  width: 240px;
  min-height: 100vh;
  box-shadow: 6px 0 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 64px;
}

header {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(5, 32, 33, 1) 57%
  );
  color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  z-index: 10;
}

header img {
  height: 30px;
  padding-left: 16px;
  padding-right: 16px;
}

.content-page {
  margin-left: 240px;
  padding: 80px 32px 40px;
  min-height: calc(100vh - 64px);
  overflow: hidden;
}
